body{
 
    font-family: 'Lora', serif;

    font-family: 'Crimson Text', serif;

    font-family: 'Source Serif Pro', serif;

    font-family: 'Noto Sans', sans-serif;

}


#mainhead{
    font-size: 60px;
    color: blue;
    text-transform:uppercase;
    
    font-family: 'Bree Serif', serif;

    font-family: 'Abril Fatface', cursive;
 
}
.navigbar{
    background-color:grey;
    text-transform: uppercase;
    margin: 10 px auto;
    padding-left: 120px;
    padding-right: 120px;
}
@media (min-width: 768px){
   .navbar .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        background-color:orange;
    text-transform: uppercase;
    border-radius: 10px;
        color:black;
     
   
    font-family: 'Merriweather', serif;

    font-family: 'Noto Serif', serif;



    }
  
}
.nav.navbar-nav.navbar-right li{
    color: black;
}

.hd{
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    color:darkred;
    font-weight: 500;
    
}

#marq{
    background-color:aqua;
    padding: 0px 0px;
    color:firebrick;


}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: darkgrey;
}


  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: black; /*Change active text color here*/
    }


.panel-body{
    font-size: 15px;
}
.panel-group{
    color:black;
    border:2px ridge green;
    border-radius: 5px;
   }
.panel-heading{
    font-size: 17px;
}
#info{
    
    position:inherit;
    padding: 20px;
    border: solid darkblue;
    border-width: 2px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    
}
#iiitn_logo{
    height: 125px ;
    width: 120px ;
    padding: 20px;
    margin-left: 50px ;
    margin-top: 10px;
}
#mir_lab_logo{
    height: 125px ;
    width: 120px ;
    padding: 20px;
    margin-left: 50px ;
    margin-top: -10px;
}

#iiitname{
    text-align: center;
    padding: 55px;
    font-size: 30px;
}
#iiitlogo{
    text-align: center;
    padding: 85px;
    padding-top: 15px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



footer {
    padding: 2em;
    color: black;
    background-color: gray;
    clear:none;
    text-align: center;
    font-size:15px;
    margin: 10px;
}



/*Slider----------------------------------------------------------------------------------------------------*/

html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 1024px;
	margin: 2em auto;
    border: 100px;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
/*Slider--------------------------------------------------------------------------------------------------------*/	

#mainhead1{
    font-size: 25px;
    color: blue;
    position: relative;
}


#appear{
    position:inherit;
    padding: 20px;
    border: solid darkblue;
    border-width: 2px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}